<div class="panel-group">
  <div class="panel panel-info">
	<div class="panel-heading">View Peoples Database </div>
		<div class="panel-body">
                <a href="{% url 'studentlist' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>&nbsp; Students</button></a>
				<a href="{% url 'facultylist' %}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span>&nbsp; Faculty</button>	</a>		
							
		</div>
		
  </div>

 <div class="panel panel-info">
	<div class="panel-heading">Respond to Leave Requests</div>
	<div class="panel-body">
	<a href="{% url 'RequestList' %}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span>&nbsp; Faculty</button>	</a>
	</div>
  </div>
  <div class="panel panel-info">
        <div class="panel-heading">
        Database Management:
        </div>
      <div class="panel-body">
         Go to <a href="admin/"> Admin </a>
          <div class="alert alert-warning">
                <strong>Careful!</strong> Improper modifications in database might cause problems in the functioning of the site
          </div>
      </div>



  </div>
  
</div>