<script>
function overlay(n) {

	field = document.getElementById("hidden_field");
	field.value=n;
	document.getElementById("subject").innerHTML=n;

}
</script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Leave Request Response</h4>
	  </div>
	  <div class="modal-body">
		<form action="{% url 'fillAttendance' %}" method="post" style="display: inline;">
					{% csrf_token %}
					 <label for="Date">Date:</label>
					<input type="date" id="day" name="day">
					<input type="hidden" name="request_id" id="hidden_field" value="" />
					<hr>
					<label for="Subject" id="msg">You will be filling attendance for following subject:</label>
					<label for="Subject" id="subject"></label>
					<button type="submit" class="btn btn-danger btn-xs">
					 <span class="glyphicon glyphicon-remove"></span>&nbsp; Proceed
					</button>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>

  </div>
</div>
<div class="panel-group">
  <div class="panel .panel-info">
	<div class="panel-heading">Your Subjects</div>
		<div class="panel-body">
							<ul>
								{% for s in  user.faculty.teaches.all%}
									<li>
									   {{ s }}
									</li>
							</ul>
							{% endfor %}
		</div>
  </div>

 <div class="panel .panel-info">
	<div class="panel-heading">Fill Todays Attendance</div>
	<div class="panel-body">
	{% for s in  user.faculty.teaches.all%}
	<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" onclick='overlay({{ s }})'><span class="glyphicon glyphicon-th"></span>&nbsp; {{ s }}</button>
    {% endfor %}
	</div>
  </div>
  <div class="panel .panel-info">
	<div class="panel-heading">Leave Records</div>
	<div class="panel-body">
	<h3> Remaining Leaves </h3>	
	 <label class="label label-primary">Casual Leaves <span class="badge">{{ user.faculty.leaverecord.casual_leave }}</span> </label>
	 
	
	<label class="label label-warning">Earned Leave <span class="badge"> {{ user.faculty.leaverecord.earned_leave }}</span> </label>
	<label class="label label-danger">Sick Leaves <span class="badge">{{ user.faculty.leaverecord.sick_leave }}</span></label>
	<a href="{% url 'newLeave' %}" class="btn btn-info btn-xs" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Apply</a>
	
	<button class='btn btn-warning' data-toggle="collapse" data-target="#history">Leave Request Status</button><br>
	<div id="history" class="collapse">
	                    <table class="table">
                        <thead>
                        <tr>
							<th>S.no.</th>
                            <th>Start Date</th>
                            <th>Start End</th>
							<th>Days</th>
							<th>Your Reason</th>
							<th>Response</th>
							<th>Verdict</th>
                        </tr>
                        </thead>
                        <tbody>
						
                        {% for r in user.faculty.request.all %}
						
                            <tr>
								<td>
                                   {{ forloop.counter }}
                                </td>
                                <td>
                                   {{ r.start }}
                                </td>
                                <td>
                                    {{ r.end }}
                                </td>
							    <td>
                                    {{ r.days }}
                                </td>
								<td>
									{{ r.reason }}
								</td>
								<td>
									{%if r.status == 3 %}
										<span class="label label-primary">Pending</span>
									{%elif r.status == 1 %}
										<span class="label label-success">Accepted</span>
									{%elif r.status == 2 %}
										<span class="label label-info">Rejected</span>
									{% endif %}
									
                                </td>
								<td>
									{{ r.verdict }}
								</td>
                            </tr>
                        {% endfor %}
                        </tbody>
					</table>
	</div>


  </div>
  
</div>