    <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
      Free Space
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
      Warning
    </div>
	<script>
function overlay(n) {

	field = document.getElementById("hidden_field");
	field.value=n;
	document.getElementById("subject_name").innerHTML=n;

}
</script>
<div id="subject" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add New Subject to Your Profile</h4>
	  </div>
	  <div class="modal-body">
          {% for s in subjects %}
              <a href="{% url 'selectSubject' s.id %}" ><button  class="btn btn-primary btn-xs" id="subject_id">{{  s.subject_name }} by Prof.{{  s.faculty.user.first_name }}</button></a>
          {% endfor %}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>

  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Proceed to take Attendance....</h4>
	  </div>
	  <div class="modal-body">
		<form action="{% url 'fillAttendance' %}" method="post">
					{% csrf_token %}
                    <label for="Date">Date:</label>
					<input type="date" id="day" name="day">
					<input type="hidden" name="request_id" id="hidden_field" value="" />
                    <br>
					<label class='label label-info' for="Message" id="msg">Subject:</label>
                    <label class="label label-primary" id="subject_name">ll</label>
					<label for="SubjectName" id="subject_name"></label>
                    <hr>
					<button type="submit" class="btn btn-success btn-xs">
					 <span class="glyphicon glyphicon-ok"></span>&nbsp; Proceed
					</button>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>

  </div>
</div>
<div class="panel-group">
  <div class="panel panel-info">
	<div class="panel-heading">Your Subjects <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#subject"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add</button></div>
		<div class="panel-body">
                <div class="list-group">

                    {% for s in  user.student.selected.all%}
									  <a href="#" class="list-group-item">{{ s.subject.subject_name }}</a>
                    {% endfor %}
                </div>
							
							
		</div>
		
  </div>

 <div class="panel panel-info">
	<div class="panel-heading">Fill Todays Attendance</div>
	<div class="panel-body">
	{% if user.faculty.teaches.all %}
	{% for s in  user.faculty.teaches.all%}
	<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" onclick="overlay('{{ s.subject_name }}')"><span class="glyphicon glyphicon-th"></span>&nbsp; {{ s.subject_name }}</button>
    {% endfor %}
	{%else%}
	You have to add atleast one subjects to fill attendance...
	{% endif %}
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	Leaves
	<a href="{% url 'newLeave' %}" class="btn btn-info btn-xs" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Apply</a>
	
	<button class='btn btn-success btn-xs' data-toggle="collapse" data-target="#history"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Leave Request Status</button><br>
	</div>
	<div class="panel-body">
	<h3> Leave Records </h3>	

	 
	<table class="table">
		<thead>
			<th>Type</th>
			<th>Remaining</th>
		</thead>
		<tbody>
			<tr>
				<td>Earned Leaves</td>
				<td>{{ user.faculty.leaverecord.earned_leave }}</td>
			</tr>
			<tr>
				<td>Sick Leaves</td>
				<td>{{ user.faculty.leaverecord.sick_leave }}</td>
			</tr>
			<tr>
				<td>Casual Leaves</td>
				<td>{{ user.faculty.leaverecord.casual_leave }}</td>
			</tr>
		</tbody>

	</table>

	
	<div id="history" class="collapse">
	                    <table class="table">
                        <thead>
                        <tr>
							<th>S.no.</th>
                            <th>Start Date</th>
                            <th>Start End</th>
							<th>Days</th>
							<th>Your Reason</th>
							<th>Response</th>
							<th>Verdict</th>
                        </tr>
                        </thead>
                        <tbody>
						
                        {% for r in user.faculty.request.all %}
						
                            <tr>
								<td>
                                   {{ forloop.counter }}
                                </td>
                                <td>
                                   {{ r.start }}
                                </td>
                                <td>
                                    {{ r.end }}
                                </td>
							    <td>
                                    {{ r.days }}
                                </td>
								<td>
									{{ r.reason }}
								</td>
								<td>
									{%if r.status == 3 %}
										<span class="label label-primary">Pending</span>
									{%elif r.status == 1 %}
										<span class="label label-success">Accepted</span>
									{%elif r.status == 2 %}
										<span class="label label-info">Rejected</span>
									{% endif %}
									
                                </td>
								<td>
									{{ r.verdict }}
								</td>
                            </tr>
                        {% endfor %}
                        </tbody>
					</table>
	</div>


  </div>
  
</div>