<script>
function overlay(n) {

	field = document.getElementById("hidden_field");
	field.value=n;
	document.getElementById("subject_name").innerHTML=n;

}
</script>
<div id="subject" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add New Subject to Your Profile</h4>
	  </div>
	  <div class="modal-body">
         <div class="list-group">

                    {% for s in subjects %}
									  <a href="{% url 'selectSubject' s.id %}" class="list-group-item">{{  s.subject_name }} by Prof.{{  s.faculty.user.first_name }}</a>
                    {% endfor %}
         </div>

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>

  </div>
</div>
 
<div class="panel-group">
  <div class="panel panel-info">
	<div class="panel-heading">Your Subjects <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#subject"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add</button></div>
		<div class="panel-body">
                <div class="list-group">

                    {% for s in  user.student.selected.all%}
									  <a href="#" class="list-group-item">{{ s.subject.subject_name }} by Lecturer {{ s.subject.faculty.user.first_name }}</a> 
                    {% endfor %}
                </div>
							
							
		</div>
		
  </div>

 <div class="panel panel-info">
	<div class="panel-heading">My Attendance For complete timesheet click <a href="{% url 'timesheet' %}" >here</a></div>
	<div class="panel-body">
		{% for s in  user.student.selected.all%}
			<button class='btn btn-warning btn-xs' data-toggle="collapse" data-target="#x{{ forloop.counter }}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> My Attendance in {{s.subject.subject_name}}</button><br>
			<hr>
			<div id="x{{ forloop.counter }}" class="collapse">
				<div class="well">Your attendance in {{ s.subject.subject_name }} by Prof. {{ s.subject.faculty.user.first_name }}</div>
				<table class="table">
                        <thead>
                        <tr>
                            <th>Subject Name</th>
							<th>Faculty</th>

							<th>Present</th>
							<th>Absent</th>
							<th>Percentage</th>
							
                        </tr>
                        </thead>
            <tbody>
				<tr>
					<td>
						{{ s.subject.subject_name }}
					</td>
					<td>
						{{ s.subject.faculty.user.first_name }}
					</td>
					<td>
						{{ s.present }}
					</td>
					<td>
						{{ s.absent }}
					</td>
					<td>
						{{ s.percentage }}
					</td>
					

				</tr>
			</tbody>
			</table>
			{% if s.percentage == 'N.A' %}
				<div class="alert alert-info">
					<strong>New Subject!</strong> No class have been held since you joined this course..
				</div>
			{% elif s.eligiblity %}
                <div class="alert alert-success">
					<strong>Nice Work!</strong> If you maintain this attendance, you are eligible to appear in exam!
				</div>
			{% else %}
				<div class="alert alert-warning">
					<strong>Warning!</strong> With your current attendance trend, you might not be able to appear in exams!
				</div>
			{% endif %}
			</div>
		{% endfor %}
		
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	Academic Records
	</div>
	<div class="panel-body">
	 
	<table class="table">
		<thead>
			<th>Type</th>
			<th>Percentage</th>
		</thead>
		<tbody>
			<tr>
				<td>Current Percentage</td>
				<td>{{ user.student.current_marks }}</td>
			</tr>
			<tr>
				<td>Class 12th Percentage </td>
				<td>{{ user.student.inter_marks }}</td>
			</tr>
			<tr>
				<td>Class 10th Percentage </td>
				<td>{{ user.student.tenth_marks }}</td>
			</tr>
		</tbody>

	</table>





  </div>
