{% if not request.user.student %}
    <div class="alert alert-warning" xmlns="http://www.w3.org/1999/html">
    <strong>View Attendance record for</strong>  {{  user.first_name }} {{  user.last_name }} click <a href="{% url 'publicTimesheet' user.student.id %}">here</a>
    (Option available only to faculty and admin)
    </div>
{% endif %}

<div class="panel-group">
  <div class="panel panel-info">
	<div class="panel-heading">Subjects studied by <strong>{{  user.first_name }}</strong></div>
		<div class="panel-body">
                <div class="list-group">

                    {% for s in  user.student.selected.all%}
									  <a href="#" class="list-group-item">{{ s.subject.subject_name }} by Lecturer {{ s.subject.faculty.user.first_name }}</a>
                    {% endfor %}
                </div>


		</div>
  </div>

<div class="panel panel-info">
	<div class="panel-heading">
	Academic Records
	</div>
	<div class="panel-body">

	<table class="table">
		<thead>
			<th>Type</th>
			<th>Percentage</th>
		</thead>
		<tbody>
			<tr>
				<td>Current Percentage</td>
				<td>{{ user.student.current_marks }}</td>
			</tr>
			<tr>
				<td>Class 12th Percentage </td>
				<td>{{ user.student.inter_marks }}</td>
			</tr>
			<tr>
				<td>Class 10th Percentage </td>
				<td>{{ user.student.tenth_marks }}</td>
			</tr>
		</tbody>

	</table>





  </div>