{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid songs-container">
<div class="panel panel-info">
	<div class="panel-heading">Attendance Record: <label class="label label-danger label-xl">{{ subject }}</label><input type="hidden" name="subject" value={{ subject }}/></div>

		<div class="panel-body">

			<label class="label label-primary">{{ date }}</label><input type="hidden" name="date" value={{ date }}/>
			<table class="table">
                        <thead>
                        <tr>
							<th>S.no.</th>
                            <th>Student Name</th>
							<th>Present</th>
							<th>Absent</th>
							<th>Percentage</th>
							<th>Eligibility</th>
                        </tr>
                        </thead>
            <tbody>
            {% if not list %}
                <div class="alert alert-warning"><strong>Empty!</strong> No Student has enrolled yet for this subject...</div>
            {% endif %}
			{% for s in list %}
				<tr>
				    <td>{{ forloop.counter }}</td>
                    <td>
					    <a href="{% url 'detail' s.student.user.username %}"><strong>{{s.student.user.first_name }} {{ s.student.user.last_name}}</strong></a> <a href="{% url 'publicTimesheet' s.student.id %}">(complete record)</a>

				    </td>
					<td>
						{{ s.present }}
					</td>
					<td>
						{{ s.absent }}
					</td>
					<td>
						{{ s.percentage }}
					</td>
                    <td>
						{% if s.eligiblity  %} <img src="{% static 'check.gif' %}" > {% else %} <img src="{% static 'cross.png' %}">{% endif %}
					</td>
					

				</tr>
			{% endfor %}
			</tbody>
			</table>
            
		</div>
  </div>
 </div>

{% endblock %}