{% extends 'base.html' %}

{% block body %}
<p id="directorspeech">Bundelkhand Institute of Engineering &amp; Technology, Jhansi has proved
 to be the most preferred destination for aspiring technologists across the country. The institute consistently 
 attracts the finest faculty and the best of students for its Bachelor's and Master's programmes. B.I.E.T has a rich 
 tradition of pursuing excellence and has continually re-invented itself in terms of academic programmes and research 
 infrastructure. Students are exposed to challenging research based academics and a host of sport, cultural and organizational 
 activities on its vibrant campus. The presence of world class facilities, vigorous institute-industry collaboration programmes,
 interdisciplinary research collaborations and industrial training opportunities help students of B.I.E.T to excel and be ahead 
 in the competitive professional environment. In the last twenty years, B.I.E.T has produced many illustrious professionals, whose 
 contributions at national and international levels have been significant.<br />
 {% endblock %}
