{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Request for a leave</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    You will have to wait for Administrators approval after applying for leave <a href="{% url 'profile' %}">Go Back</a>.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}